@page "/authority/partnership-application/initiate/regulatory-function-contacts/list"
@attribute [Authorize(Policy = IdentityConstants.Policies.Authority)]

@layout TwoThirdsOneThirdLayout

@inject IStringLocalizer<List> Loc

<PageTitle>@Loc["PageTitle"]</PageTitle>

<GdsHeading DataTestId="page-heading" HeadingLevel="1" Classes="@HeadingSize.Large">
	@Loc["PageHeading"]
</GdsHeading>

<p class="govuk-body">
	@Loc["Instructions_Para_1"]
</p>

@code {

}
