<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Include>[*.*Opss.*]*</Include>
					<Exclude>[Opss.PrimaryAuthorityRegister.Api.Persistence]*</Exclude>
					<ExcludeByFile>**/moq.dll, **/unittests.dll, **/integrationtests.dll, **/bunit.dll, **/Opss.PrimaryAuthorityRegister.Api.Persistence/Migrations/*.*, **/Opss.PrimaryAuthorityRegister.Web/Pages/*.*, **/*.cshtml, **/*.razor, **/*.cshtml.cs, **/*.razor.cs, **/Opss.PrimaryAuthorityRegister.Api.Application/Extensions/IServiceCollectionExtensions.cs</ExcludeByFile>
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
					<IncludeTestAssembly>false</IncludeTestAssembly>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>