@page "/"

@inject ITestClientService TestClientService

<PageTitle>Index</PageTitle>

<h1>Hello, world! @data?.Id.ToString()</h1>

<button 
@onclick=@OnClick>
    Try Post
</button>

@status?.ToString()

@code {
    private TestDataDto? data;
    private System.Net.HttpStatusCode? status;

    protected override async Task OnInitializedAsync()
    {
        var result = await TestClientService.GetTestData();
        data = result.Result;
    }

    protected async void OnClick(){
        var ok = await TestClientService.PostTestData(new TestDataCommand(data));
        status = ok.StatusCode;

        StateHasChanged();
    }
}
