@using Microsoft.Extensions.Localization
@inherits BunitContext

@code {
    [Fact]
	public void CounterStartsAtZero()
	{
        Services.AddLocalization(options => options.ResourcesPath = "LanguageResources");
		// Arrange
		var nav = Render(@<NavMenu />);

		// Assert
		nav.Find("nav").MarkupMatches(
    @<nav class="govuk-service-navigation__wrapper 
                        " aria-label="Menu">
      <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">Menu</button>
      <ul class="govuk-service-navigation__list" id="navigation">
        <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
          <a class="govuk-service-navigation__link" href="#" aria-current="true">
            <strong class="govuk-service-navigation__active-fallback">Home</strong>
          </a>
        </li>
      </ul>
    </nav>);
	}
}