@inherits BunitContext

@code {
    [Fact]
	public void CounterStartsAtZero()
	{
		// Arrange
		var nav = Render(@<NavMenu />);

		// Assert
		nav.Find("nav").MarkupMatches(
    @<nav aria-label="Menu" class="govuk-header__navigation">
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden="">
        Menu
      </button>
      <ul id="navigation" class="govuk-header__navigation-list" >
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a href="" class="govuk-header__link active" aria-current="page">
            <span class="oi oi-home" aria-hidden="true"></span>
            Home
          </a>
        </li>
      </ul>
    </nav>);
	}
}